spring:
  application:
    name: gym-crm-service

  datasource:
    url: jdbc:postgresql://localhost:5432/gymcrm
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        type:
          descriptor:
            sql:
              BasicBinder:
                logBinding: true

  jms:
    pub-sub-domain: false

  profiles:
    active: default

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    persist-authorization: true

logging:
  pattern:
    level: "%5p [transactionId=%X{transactionId}]"

management:
  endpoints:
    web:
      exposure:
        include: health, metrics, prometheus
  endpoint:
    health:
      show-details: always

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

jwt:
  secret: "6b6LZpM24yEnN0uYFi1tBpKoYkeP3vM8"

app:
  messaging:
    training:
      queue: ${TRAINING_QUEUE:training.events}
      dlq: ${TRAINING_DLQ:training.events.dlq}
      max-redeliveries: ${TRAINING_MAX_REDELIVERIES:3}
